.container {
    display              : grid;
    grid-template-columns: 50% 50%;
    height               : 100%;
}

.product-img-container {
    height          : 70vh;
    width           : 40vw;
    background-color: rgba(255, 255, 255);
    border-radius   : 44px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
    box-shadow      : var(--shadow);
}

.product-img-container img {
    max-height: 60vh;
    max-width : 40vw;
}

.smaller-preview-container {
    display: flex;
}

.smaller-preview-container div {
    background-color: rgba(0, 0, 0, 0.9);
    margin          : 8px;
    height          : 17.5vh;
    width           : 10vw;
    border-radius   : 10px
}

.area {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.area.text-container {
    justify-content: center;
    flex-direction : column;
    padding        : 32px;
    align-items    : flex-start;
}

.name {
    font-size    : 48px;
    font-family  : 'Poppins', sans-serif;
    font-weight  : 700;
    margin-bottom: 40px;
}

.desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}