* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


:root {
  --search-padding: 16px;
  --background-primary: #F4F1BB;
  --background-secondary: #353535;
  --background-input-text: #fefefe;
  --foreground-input-text: #565658
}

body {
  background-color: var(--background-primary);
  color: var(--background-secondary)
}

